<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About RedBach</title>
  </head>
<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet = localhost:3000/about</p>

  {{> footer}}
</body>
</html>