<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RedBach</title>
  </head>
<body>
  {{> header}}
  <p>{{allCAPS welcomeMessage}}</p>
  <p><a href="/about">About Page</a></p>
  <p><a href="/help.html">Help Page</a></p>
  {{> footer}}
</body>
</html>