<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
  </head>
<body>
  {{> header}}
  <img src="http://www.duckie.co.za/campsites/Unnamed-Wilderness-Beach.jpg">
  <img src="http://www.duckie.co.za/campsites/Rooi-Els-Campground.jpg">
  <img src="http://www.duckie.co.za/campsites/Tietiesbaai-Beach-Camp-1.jpg">
  <img src="http://www.duckie.co.za/campsites/Millibangalala-Mocambique.jpg">
  <p><a href="/">Home Page</a> | <a href="/about">About Page</a> | <a href="/help.html">Help Page</a></p>
  {{> footer}}
</body>
</html>