<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
<body>
  {{> header}}
  <img src="http://www.duckie.co.za/campsites/Rooi-Els-Campground-450x300.jpg">
  <img src="http://www.duckie.co.za/campsites/Unnamed-Wilderness-Beach-450x300.jpg">
  <img src="http://www.duckie.co.za/campsites/Tietiesbaai-Beach-Camp2-450x300.jpg">
  <img src="http://www.duckie.co.za/campsites/Millibangalala-Mocambique-450x300.jpg">  
  <p><a href="/">Home Page</a> | <a href="/about">About Page</a> | <a href="/help.html">Help Page</a></p>
  {{> footer}}
</body>
</html>